:host {
  height: 100%;
  display: block;
  overflow-y: auto;
  padding: 12px;
  h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: 50px;
  }
  .post-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
    grid-gap: 4rem;
  }
}
