<div class="writer-container scroll-container-y">
  <form [formGroup]="formGroup" (submit)="submitForm()">
    <h2>Formulaire</h2>
    <mat-form-field> <input placeholder="Titre" matInput formControlName="title" /> </mat-form-field>
    <mat-form-field> <input placeholder="Url" matInput formControlName="url" /> </mat-form-field>
    <mat-form-field> <input placeholder="Description" matInput formControlName="description" /> </mat-form-field>
    <mat-form-field> <input placeholder="Date" matInput formControlName="publicationDate" /> </mat-form-field>

    <mat-form-field class="content-form-field">
      <textarea cdkTextareaAutosize placeholder="Contenu" matInput cols="50" rows="50" formControlName="markdown"></textarea></mat-form-field>
    <button mat-raised-button color="primary" type="submit">Confirm</button>
    <button mat-raised-button (click)="test()" color="accent" type="button">Prefill</button>
  </form>
  <div class="preview">
    <h2>Preview</h2>
    <markdown [data]="markdownContent"></markdown>
  </div>
</div>
