@import 'variables';
a.link {
    color: $color-link;
    text-decoration: none;
    transition: all $transition-quick;
    &:hover {
        color: $color-link-hover;
    }
}

.scroll-container-y {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}
