@import 'variables';
body {
    color: #202121;
    background: #f4f7f6;
    font-family: $mainFont;
}

ddj-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondaryFont !important;
    margin-top: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
    padding: 24px;
}
